* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Overal-div {
  width: 100%;
  min-height: auto;
  margin-top: 20px;
  /* border: 2px solid black; */
  margin-bottom: 30px;

  background-color: white;
}

.header {
  /* border: 1px solid rgb(87, 87, 92); */
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-head {
  width: 400px;
  min-height: 40px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 20px;
}
.overal-best {
  /* border: 2px solid green; */

  width: 100%;
}
.Overal-grid-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* border: 2px solid yellow; */
  width: 90%;
  grid-auto-rows: minmax(auto, 1fr);
  gap: 30px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* BUTTON STYLING  */
.button1-overal {
  /* border: 2px solid red; */
  min-width: 100%;
  min-height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.button1-sub {
  /* border: 2px solid black; */
  width: 180px;
  display: flex;
  justify-content: center;
}

/* .button1-sub button {
  border: 2px solid black;
  width: 150px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: black;
  padding-bottom: 30px;
} */

.discount-overal {
  /* border: 2px solid red; */

  height: 400px;
  margin-top: 30px;
}

.flash-sales-sub {
  /* border: 2px solid purple; */
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash-text {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 3px;
}

.flash-grid-overal {
  /* border: 2px solid rgb(95, 226, 43); */
  display: flex;

  gap: 30px;
  width: 100%;
  height: 350px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.slider-track {
  display: flex;
  /* border: 10px solid red; */
  transition: transform 1s ease-in-out;
  gap: 10px;
  padding-left: 10px;
}

.flash-flex {
  /* border: 2px solid rgb(28, 28, 221); */

  min-width: 190px;
  height: 250px;

  display: flex;
  flex-direction: column;
}

.flex1 {
  /* border: 2px solid black; */
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.flex1-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 80px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 13px;
}
.flex2 {
  height: 50px;
  /* border: 2px solid brown; */
}
.flex2-Div {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.leftBtn {
  position: absolute;
  left: 16px;
  top: 25%;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  /* margin-left: 10px; */
  border-radius: 50%;
  font-size: 13px;
}
.rightBtn {
  position: absolute;
  right: 17px;
  top: 25%;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  /* margin-right: 10px; */
  border-radius: 50%;
  font-size: 13px;
}

@media screen and (max-width: 412px) {
  .Overal-grid-div {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .header-text {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .discount-overal {
    /* border: 2px solid red; */

    height: 570px;
    margin-top: 30px;
  }

  .flash-grid-overal {
    /* border: 2px solid rgb(95, 226, 43); */
    display: flex;

    /* gap: 30px; */
    width: 100%;
    height: 450px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
  }

  .slider-track {
    display: flex;
    /* border: 10px solid red; */
    transition: transform 1s ease-in-out;
    gap: 20px;
    /* padding-left: 20px; */
  }

  .flash-flex {
    /* border: 2px solid rgb(28, 28, 221); */

    min-width: 425px;
    height: 450px;

    display: flex;
    flex-direction: column;
  }

  .flex1 {
    /* border: 2px solid black; */
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .flex1Img {
    width: 100%;
    height: 100%;
  }
  .flex1-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 100px;
    border-radius: 5px;
    z-index: 1000;
  }
  .flex2 {
    height: 50px;
    /* border: 2px solid brown; */
  }

  .flex2-Div {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .leftBtn {
    position: absolute;
    left: 20px;
    top: 40%;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    /* margin-left: 10px; */
    border-radius: 50%;
    font-size: 15px;
  }
  .rightBtn {
    position: absolute;
    right: 20px;
    top: 40%;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
    border-radius: 50%;
    font-size: 15px;
  }
  .header-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .discount-overal {
    height: 500px;
    margin-top: 30px;
  }

  .flash-grid-overal {
    gap: 30px;
    width: 100%;
    height: 400px;
  }

  .slider-track {
    display: flex;
    /* border: 10px solid red; */
    gap: 10px;
    /* padding-left: 20px; */
  }

  .flash-flex {
    min-width: 230px;
    height: 350px;
    display: flex;
    flex-direction: column;
  }

  .flex1 {
    width: 100%;
    height: 300px;
  }

  .flex1-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 100px;
    border-radius: 5px;
    z-index: 1000;
  }
  .flex2 {
    height: 50px;
  }

  .flex2-Div {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .leftBtn {
    left: 15px;
    top: 40%;
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
  .rightBtn {
    right: 15px;
    top: 40%;
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  .header-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 370px) and (max-width: 412px) {
  .header-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 412px) and (max-width: 768px) {
  .header-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 617px) and (max-width: 900px) {
  .Overal-grid-div {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 690px) and (max-width: 900px) {
  .Overal-grid-div {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .Overal-grid-div {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 1201px) {
  .Overal-grid-div {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

/* ✅ Medium Screens (Tablets & Small Laptops - 768px and below) */
/* @media screen and (max-width: 768px) {
  .Overal-grid-div {
    grid-template-columns: repeat(4, minmax(155px, 1fr));
    gap: 15px;
    padding: 8px;
    
      overflow-x: scroll;
       grid-auto-flow: column; 
      grid-template-rows: repeat(2, 1fr); 
  }
  .button1-sub button {
    width: 130px;
  }
  .Overal-new-grid-div {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 8px;
  }
  .button1-sub button {
    width: 130px;
  }
  .header-text {
  font-size: 18px;
  
 
}
} */

/* ✅ Small Screens (Phones - 480px and below)  */

/* @media screen and (max-width: 480px) {
  
  STYLING FOR BEST SELLING OVERAL DIV
  .Overal-grid-div {
   grid-template-rows: repeat(2, 1fr); 
    grid-auto-flow: column; 
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 16px;
    
    overflow-x: scroll;
  }

  NEW ARRIVAL OVERAL DIV STYLING
  .Overal-new-grid-div {
  
    grid-template-rows: repeat(3, 1fr); 
    grid-auto-flow: column; 
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 16px;
    border: 2px solid yellow;
    width: 100%;
    overflow: hidden;
  }

  .inside-grid1 {
    height: 100px;
    border: 2px solid red;
  }

} */
