* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, serif;
}

.home {
  max-width: 100%;
  min-height: 600px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 2px solid red; */
  /* background: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
}

#section-id {
  max-width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  /* border: 2px solid blue; */
}

.text-div {
  height: 300px;
  max-width: 600px;
  margin-top: 50px;
  /* border: 2px solid black; */
}

.text-div1 {
  width: 400px;
  height: 200px;
  margin-top: 50px;
  margin-left: 25px;
  text-align: justify;
  /* border: 2px solid green; */
  /* font-family: Cambria, serif; */
}

.text1 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  height: 100px;
  line-height: 150px;
  /* font-family: Cambria, serif; */
}

.text1::first-letter {
  font-size: 60px;
  color: rgb(122, 15, 15);
  /* font-family: "Lucida Handwriting", cursive; */
  font-family: Cambria, serif;
}

.text2 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.button-div-overal {
  width: 100%;
  height: 90px;
}

.button-div {
  width: 100%;
  height: 50px;
  /* border: 2px solid brown; */
}

.button {
  border: 2px solid black;
  width: 120px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

@media screen and (min-width: 300px) and (max-width: 950px) {
  .text-div {
    height: 300px;
    max-width: 400px;
    margin-top: 50px;
    /* border: 2px solid black; */
  }

  .text-div1 {
    width: 250px;
    height: 200px;

    margin-left: 0;
  }

  .text1 {
    font-size: 1.2rem;
  }
  .text1::first-letter {
    font-size: 2.5rem;
  }
  .text2 {
    font-size: 0.95rem;
  }
    .button {
    border: 2px solid black;
    width: 80px;
    height: 25px;
    font-size: 0.75rem;
  }
  .text1 {
    line-height: 160px;
  }
}
@media screen and (max-width: 412px) {
  .text1 {
    font-size: 0.70rem;
  }
  .text2 {
    font-size: 0.60rem;
    font-weight: 500;
  }
  .text-div1 {
    line-height: 20px;
  }
  .text1 {
    line-height: 160px;
  }
  .button {
    border: 2px solid black;
    width: 80px;
    height: 25px;
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .text-div1 {
    margin-left: 20px;
  }
}
@media screen and (min-width: 950px) and (max-width: 1300px) {
  .text-div {
    height: 300px;
    max-width: 450px;
  }
  .text-div1 {
    width: 300px;

    margin-left: 10px;
  }
  .text1 {
    font-size: 1.3rem;
  }
  .text2 {
    font-size: 1rem;
    font-weight: 500;
  }
  .button {
    border: 2px solid black;
    width: 100px;
    height: 30px;
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .text-div1 {
    margin-left: 30px;
  }
  .text1 {
    font-size: 1.4rem;
  }
  .text2 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1500px) {
  .text-div1 {
    width: 500px;
    height: 200px;
  }

  .text1 {
    font-size: 32px;
  }
  .text1::first-letter {
    font-size: 70px;
  }
  .text2 {
    font-size: 20px;
  }
  .home {
  max-width: 100%;
  min-height: 700px;
}
}
