* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-item {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.inside-grid1 {
  /* border: 2px solid purple; */
  height: 200px;
  display: flex;
  position: relative;
  /* border: 1px solid; */
}
.product-image {
  width: 100%;
  height: 100%;
}

.inside-grid2 {
  height: 75px;
  color: black;
  /* background-color: orange; */
  /* border: 2px solid red; */
}
/* STYLING FOR THE PRICES AND THE REST  */
.grid-text {
  font-size: 14px;
  letter-spacing: 1px;
}
.ptext1 {
  font-size: 13px;
  font-weight: 600;
}
.ptext2 {
  font-size: 14px;
  /* font-weight: 400; */
  letter-spacing: 1px;
}

.ptext4 {
  font-size: 14px;
  font-weight: 700;
}
.ptext3 {
  font-weight: 700;
}
.pptext3 {
  font-weight: 400;
  text-decoration: line-through;
}
/* STYLING FOR THE PRICE AND ADD TO CART */

.addtocart {
  /* border: 2px solid black; */
  margin-top: 5px;
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-between;
  align-items: center;
}

.addtocart button {
  /* border: 2px solid rgb(177, 172, 172); */
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
}


.addtocart button:active {
  background-color: black;
  color: white;
  border: 2px solid transparent;
}

@media screen and (max-width: 768px) {
  .inside-grid1 {
    height: 150px;
  }
  .ptext1 {
    font-size: 12px;
  }
  .ptext2 {
    font-size: 12px;
  }
  .addtocart button {
    height: 25px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .inside-grid1 {
    /* border: 2px solid purple; */
    height: 150px;
    display: flex;
    position: relative;
    /* border: 1px solid; */
  }

  .inside-grid2 {
    height: 75px;
    color: black;
    /* background-color: orange; */
    /* border: 2px solid red; */
  }
  .grid-text {
    font-size: 11px;
  }
  .ptext3 {
    font-size: 13px;
  }
  .pflex1 {
    width: 40px;
    height: 20px;
    font-size: 13px;
  }
  .ptext2 {
    white-space: nowrap;
  }
  .addtocart {
    /* border: 2px solid red; */
    width: 100%;
    height: 30px;

    align-items: center;
  }
  .addtocart button {
    /* border: 2px solid black; */
    font-size: 12px;
    width: 70px;
    height: 25px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 412px) {
  .inside-grid1 {
    height: 140px;
  }
  .inside-grid2 {
    height: auto;
  }
  .ptext1 {
    font-size: 0.7rem;
  }
  .ptext2 {
    font-size: 0.5rem;
  }
  .ptext3{
    font-size: 0.7rem;
  }
  .addtocart button {
    font-size: 0.5rem;
    width: 50px;
    height: 25px;
  }
}

@media screen and (max-width: 305px) {
  .inside-grid1 {
    height: 120px;
  }
  .ptext1 {
    font-size: 0.7rem;
  }
  .ptext2 {
    font-size: 0.5rem;
  }
  .ptext3{
    font-size: 0.7rem;
  }
  .addtocart button {
    font-size: 0.7rem;
    width: 80px;
    height: 25px;
    /* padding-top: 5px; */
  }
  
}

@media screen and (max-width: 250px) {
  .inside-grid1 {
    height: 150px;
  }
}
@media screen and (max-width: 232px) {
  .ptext1 {
    font-size: 0.9rem;
  }
  .ptext2 {
    font-size: 0.5rem;
  }
  .ptext3{
    font-size: 0.9rem;
  }
  .addtocart button {
    height: 25px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .inside-grid1 {
    height: 200px;
  }
  .addtocart button {
    height: 25px;
  }
}

@media screen and (min-width: 690px) and (max-width: 900px) {
  .inside-grid1 {
    height: 250px;
  }
  .addtocart button {
    height: 25px;
  }
}
@media screen and (min-width: 810px) and (max-width: 900px) {
  .inside-grid1 {
    height: 300px;
  }
  .addtocart button {
    height: 25px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .inside-grid1 {
    height: 200px;
  }
  .addtocart button {
    font-size: 0.8rem;
    width: 90px;
    height: 25px;
  }
  .ptext2 {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .inside-grid1 {
    height: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .addtocart button {
    height: 30px;
  }
}

@media screen and (min-width: 1500px) {
  .inside-grid1 {
    height: 300px;
  }
}

@media screen and (min-width: 1000px) {
.addtocart button:hover {
  background-color: rgb(71, 70, 70);
  color: white;
  
}
.addtocart button:active {
  background-color: black;
  color: white;
  border: 2px solid transparent;
}
}

