*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overal-div{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    background-image: url(https://images.unsplash.com/photo-1558769132-cb1aea458c5e?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* align-items: center; */
   /* border: 2px solid black; */
  

}
.overal-content{
    /* border: 2px solid green; */
    min-width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 100px;
     backdrop-filter: blur(50px);
}
.textInputs{
    /* border: 2px solid red; */
    min-width: 90%;
    /* min-width: 100px; */
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.logintext-div{
    /* border: 2px solid blue; */
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.logintext-div .loginh2{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, serif;
}
.logintext-div .logintextP{
    font-size: 0.9rem;
    font-weight: 500;
}
.loginform-div{
    /* border: 2px solid blue; */
     height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    
   
}

.userName-Div{
/* border: 2px solid green; */
position: relative;

}

.searchIcon{
    position: absolute;
    right: 5px;
    top: 14px;
    font-size: 18px;

}

.loginInputs{
    
    height: 40px;
    width: 100%; 
    border-radius: 15px;
} 
#btn{
border: 1px solid black;
background-color: black;
color: white;
cursor: pointer;
}

.loginInputs::-ms-reveal,
.loginInputs::-ms-clear {
  display: none;
}

.loginInputs::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}
.loginR-div{
display: flex;
flex-direction: column;
align-items: center;
 
}
#btn:active{
    background-color: blue;
    color: white;
}

#reigsterText .loginTextSpan{
color: rgb(5, 28, 238);
}

#reigsterText{
    font-size: 0.9rem;
}



@media screen and (min-width: 1015px)and (max-width: 1186px) {
 .overal-content{
    /* border: 2px solid green; */
    min-width: 50%;
    height: 400px;
     margin-top: 100px;
}
.loginInputs{
    height: 45px;
    border-radius: 15px;
} 

}
@media screen and (min-width: 1186px)and (max-width: 1300px) {
 .overal-content{
    border: 2px solid green;
    min-width: 40%;
    height: 400px;
     margin-top: 100px;
}

}



@media screen and (min-width: 768px){
.overal-content{
     min-width: 50%;
   
}
.textInputs{
     min-width: 90%;
}
#reigsterText{
    font-size: 1rem;
}
}

@media screen and (min-width: 480px)and (max-width: 767px){
    .overal-content{
       min-width: 60%;  
    }
    .loginInputs{
    height: 45px;
    border-radius: 15px;
} 
}

@media screen and (min-width: 1300px) {
 .overal-content{
    /* border: 2px solid green; */
    min-width: 40%;
      height: 400px;
     margin-top: 100px;

}.textInputs{
     min-height: 400px;
     min-width: 80%;
}
.logintext-div .loginh2{
    font-size: 1.5rem;
}
.loginInputs{
    height: 45px;
    border-radius: 15px;
} 
}

@media screen and (max-width: 325px){

.overal-content{
    min-width: 200px;
}
}
