

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overal-registerdiv{
    /* border: 2px solid red; */
max-width: 100%;
height: 100vh;
display: flex;

}
.overal-registercontent1{
    border: 2px solid black;
    width: 750px;
    /* min-width: 200px; */
}
.overal-registercontent2{
    border: 2px solid black;
    width: 600px;
     min-width: 400px;
     min-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.registerTextInputs{
    border: 2px solid green;
    min-width: 400px;
     /* min-width: ; */
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.registerText-div{
/* border: 2px solid blue; */
width: 200px;
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.register-h2{
    font-size: 30px;
    font-weight: 600;

}
.register-p{
    font-weight: 500;
}

.register-span{
    color: blue;
}

.registerForm{
    /* border: 2px solid blue; */
    height: 100%;
    /* width: 100%; */
    /* flex: 1; */
    /* max-width: 100%; */
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.registerInput-div{
    /* border: 2px solid yellow; */
    position: relative;
}

.registerIcon{
    position: absolute;
    right: 5px;
    top: 12px;
}
.registerInputs{
    /* border: 1px solid black; */
    border-bottom: 2px solid black;
    height: 45px;
    width: 100%;
    outline: none;
}
.registerInputs::-ms-reveal,
.registerInputs::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}
#regBtn{
    border-bottom: none;
    border: 1px solid black;
    border-radius: 20px;
}

#regBtn:active{
    background-color: blue;
    color: white;
}